// Widescreems
@include mediaXl {
	.menu-branding .portrait {
		width: 500px;
		height: 500px;
	}
	.about-info .bio-image {
		width: 350px;
		height: 350px;
	}
}

// Deskops & laptops
@include mediaLg {
	.about-info {
		.bio-image {
			width: 180px;
			height: 180px;
		}
	}
}

// Tablets & small laptops
@include mediaMd {
	main {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}

	ul.menu-nav,
	div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu-nav {
		height: 50vh;
		transform: translate3d(100%, 0, 0);
		font-size: 24px;
	}

	.menu-branding {
		height: 50vh;
		transform: translate3d(-100%, 0, 0);
	}

	.about-info {
		display: grid;
		grid-template-areas:
			"bio-image1"
			"job1"
			"bio-image2"
			"job2"
			"bio-image3"
			"job3";
		grid-template-columns: 1fr;
	}
}

// Smartphones
@include mediaSm {
	main#home h1 {
		margin-top: 10vh;
	}
	h1.lg-heading {
		font-size: 3rem;
	}
	.menu-branding .portrait {
		width: 200px;
		height: 200px;
	}
	.about-info .bio-image {
		width: 200px;
		height: 200px;
	}
}
