@import "config";
@import "menu";
// Mobile is imported below

* {
	box-sizing: border-box;
}

body {
	@include background;
	background: $primary-color;
	color: set-text-color($primary-color);
	height: 100%;
	margin: 0;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}

// Headings
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;
		font-family: "Times New Roman", Times, serif;

		.text-secondary {
			color: $secondary-color;
		}
	}
	&.sm-heading {
		margin-bottom: 1rem;
		padding: 0.2rem;
	}
}
main#home {
	a {
		color: #fff;
		text-decoration: none;
	}
	p.color-link > a {
		color: $secondary-color;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	header {
		position: fixed;
		z-index: 2;
		width: 100%;
	}

	.text-secondary {
		color: $secondary-color;
	}

	.text-thrirdly {
		color: $thirdly-color;
	}
}
main {
	padding: 4rem;
	min-height: calc(100vh - 40px);

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;

			&:hover {
				color: $secondary-color !important;
				@include easeOut;
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}

.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		"bio-image1 bio-image2 bio-image3"
		"job1 job2 job3";
	grid-template-columns: repeat(3, 1fr);

	.bio-image1 {
		grid-area: bio-image1;
	}
	.bio-image2 {
		grid-area: bio-image2;
	}
	.bio-image3 {
		grid-area: bio-image3;
	}
	.bio-image {
		margin: auto;
		border-radius: 50%;
		border: $secondary-color 3px solid;
		width: 300px;
		height: 300px;
	}
	.job1 {
		grid-area: job1;
	}
	.job2 {
		grid-area: job2;
	}
	.job3 {
		grid-area: job3;
	}
	.job {
		background: lighten($primary-color, 5);
		padding: 0.5rem;
		border-bottom: $secondary-color 5px solid;
	}
	h3 {
		font-family: "Times New Roman", Times, serif;
		font-size: 1.5rem;
	}
}

// Contact page
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 10vh;

	.box {
		font-size: 1rem;
		border: 3px $secondary-color solid;
		padding: 1.5rem 2.5rem;
		margin: 1rem;
		@include easeOut;

		a {
			color: set-text-color($primary-color);
		}

		&:hover {
			background: $secondary-color;
			color: set-text-color($secondary-color);
			span {
				color: set-text-color($secondary-color);
			}
		}
	}
}

#main-footer {
	text-align: center;
	padding: 0.5rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 40px;
}
@import "mobile";
